__pycache__
.ipynb_checkpoints
formulae/tmp.ltl
lcr-*
owl-*
*.o
seminator
*.log
*.trs
\#*
.#*
stamp-*
*~
config.h
*.in
autom4te.cache
INSTALL
.deps
aclocal.m4
configure
config.status
*.tar.gz
Makefile
tools/
.dirstamp
*.lo
*.la
.libs
libtool
/tests/pyrun
/python/spot-extra/seminator.py
/python/spot-extra/seminator_wrap.cxx
# RStudio and R tmp files + atom tmpfiles
data/.R*
.tags
